fastapi
loguru
uvicorn
python-dotenv
black
flake8
autoflake
isort
mypy
flake8-fixme
asgi-lifespan
mimesis
pytest
pytest-cov
pytest-asyncio
pytest-env
pytest-randomly
pytest-mimesis
docker
httpx
bump2version
alembic
sqlalchemy
databases
asyncpg
psycopg2
pydantic-sqlalchemy