fastapi
loguru
uvicorn
python-dotenv
black
flake8
autoflake
wemake-python-styleguide
isort
mypy
flake8-fixme
asgi-lifespan
pytest
pytest-cov
pytest-asyncio
pytest-env
pytest-parallel
pytest-spec
docker
httpx
bump2version
faker
alembic
sqlalchemy
databases
asyncpg
psycopg2
pydantic-sqlalchemy
fastapi-cprofile